*{
    margin: o;
    padding: o;
    box-sizing: border-box;
    font-family: 'Poppins',Iter;
 }
 .navbar{
    display: flex;
    flex-direction: row;
    height: 150px; 
 }
.logo{
    float: left;

}
.topnav{
    margin: 0 auto;
    padding: 10px 0;
    margin-right: 10px;
}
.topnav ul{
    text-align: right;

}
.topnav ul li{
    display: inline-block;
     margin: 20px;
     text-transform: uppercase;
}
.topnav>ul>li>a{
    padding: 18px;
    margin-right: 0;
    text-transform: uppercase;
    display: block;
    color: black;
    text-decoration: none;
}
.topnav>ul>li>a:hover{
    background: rgba(8, 158, 71, 0.678);
    color: black;
}
