*{
    margin: o;
    padding: o;
    box-sizing: border-box;
    font-family: 'Poppins',Iter;
 }
 body{
position: relative; }

/* NAVBAR STYLING STARTS */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
   }
   /* LOGO */
   .logo {
    font-size: 32px;
    font-weight: bold;
    color: white;
    
}
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    flex: 1;
   }
   .topnav a{
    display: inline-block;
     margin: 20px;
     text-transform: uppercase;
     color: white;

   }
    .topnav a.active {
        font-weight: bolder;
        height: 1px;
        position: relative;}