*{
    margin: o;
    padding: o;
    box-sizing: border-box;
    font-family: 'Poppins',Iter;
 }
 .navbar{
    display: flex;
    flex-direction: row;
    height: 150px; 
 }
.logo{
    float: left;

}
.topnav{
    margin: 0 auto;
    padding: 10px 0;
    margin-right: 10px;
}