*{
    margin: o;
    padding: o;
    box-sizing: border-box;
    font-family: 'Poppins',Iter;
 }
 .navbar{
    display: flex;
    flex-direction: row;
    height: 150px; 
    background-color: green;
    align-items: center;

 }
.logo{
    float: left;
    font-size: 32px;
    font-weight: bold;
    padding-left: 50px;
    

}
.topnav{
    margin: 0 auto;
    padding: 10px 0;
    margin-right: 10px;
}
.topnav ul{
    text-align: right;

}
.topnav ul li{
    display: inline-block;
     margin: 20px;
     text-transform: uppercase;
}
.topnav>ul>li>a{
    padding: 18px;
    margin-right: 0;
    text-transform: uppercase;
    display: block;
    color: black;
    text-decoration: none;
}
.topnav>ul>li>a:hover{
    background: rgba(8, 158, 71, 0.678);
    color: black;
}
.button {
    background-color: #ED661F;
    border: none;
    color: #FAFAFA;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;}
    .dairy{
        background-color: rgb(96, 112, 133);
        height: 900px;
        text-align: center;
    }
    .penda{
        padding-top: 200px;

    }
    .footer1{
        width: 100%;
        min-height: 400px;
        background: black;
        border: solid 2px white; 
    }
    .touch{
        line-height: 2;
  font-size: 40px;
  color: white;
  font-weight: bolder;
  margin-left: 500px;
  padding-top: 50px;
    }
    .p15{
        margin-left: 600px;
        margin-top: 10px;  
        color: white;
        font-size: 30px; 
    }
    form.example input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 64%;
        background: #f1f1f1;}
        form.example button {
          /* float: left; */
          width: 35%;
          padding: 10px;
          background: #ED661F
          ;
          color: white;
          font-size: 17px;
          border: 1px solid grey;
          border-left: none;
          cursor: pointer;}