
html{
  width:100%;
  height:100%;
}
body{
  width:100%;
  height:100%;

 }
 .navbar{
    display: flex;
    flex-direction: row;
    height: 150px; 
    background-color: green;
    align-items: center;

 }
.logo{
    float: left;
    font-size: 32px;
    font-weight: bold;
    padding-left: 50px;
    

}
.topnav{
    margin: 0 auto;
    padding: 10px 0;
    margin-right: 10px;
}
.topnav ul{
    text-align: right;

}
.topnav ul li{
    display: inline-block;
     margin: 20px;
     text-transform: uppercase;
}
.topnav>ul>li>a{
    padding: 18px;
    margin-right: 0;
    text-transform: uppercase;
    display: block;
    color: black;
    text-decoration: none;
}
.topnav>ul>li>a:hover{
    background: rgba(8, 158, 71, 0.678);
    color: black;
}
.container{
    width: 100%;
    padding-bottom: 20px;
}
/* .container img{
    border: 3px solid #ccc;
    background: #eee;
    margin-left: 10px;
    padding: 15px 10px;
} */
.button {
    background-color: #ED661F;
    border: none;
    color: #FAFAFA;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;}
    .dairy{
        background-color: rgb(96, 112, 133);
        height: 900px;
        text-align: center;
    }
    .penda{
        padding-top: 200px;

    }

    #dailymilk,#projection,#yearrevenue{
        align-items: center;
        margin-left: 20%;
    }
    input[type=text]{
        width: 20%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      
      input[type=button] {
        width: 13%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      
      input[type=submit]:hover {
        background-color: #77ee7d;
      }

      
    .footer1{
        width: 100%;
        min-height: 400px;
        background: black;
        border: solid 2px black; 
    }
    .touch{
        line-height: 2;
  font-size: 40px;
  color: white;
  font-weight: bolder;
  margin-left: 500px;
  padding-top: 50px;
    }
    .p15{
        margin-left: 600px;
        margin-top: 10px;  
        color: white;
        font-size: 30px; 
    }
    form.example input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 64%;
        background: #f1f1f1;}
        form.example button {
          /* float: left; */
          width: 35%;
          padding: 10px;
          background: #ED661F
          ;
          color: white;
          font-size: 17px;
          border: 1px solid grey;
          border-left: none;
          cursor: pointer;}
          @media only screen and (max-width: 1277px) {
            #header{
                display: flex;
                flex-direction: column;
                height: 450px;
                background-color: rgba(8, 158, 71, 0.678);
            }
            #icon{
                width: 100%;
                background-color: white;
            }
            #icon img{
                width: 200px;
                height: auto;
            }
            #menu{
                width: 100%;
                margin: 0 auto;
                padding: 10px 10px;
                margin-right: 10px;
             }
             #menu ul{
                text-align: center;
            }
             #menu ul li{
                 display: block;
                 margin: 20px;
                 text-transform: uppercase;
             }
             #menu>ul>li>a {
                padding: 18px;
                margin-right: 0;
                text-transform: uppercase;
                display: block;
                color: black;
                text-decoration: none;
            }
            #menu>ul>li>a:hover {
                background: rgba(8, 158, 71, 0.678);
                color: black;
                }
                #content{
                    align-items: center;
                    width: 100%;
                    padding-bottom: 20px;
                }
                #table{
                    align-items: center;
                }
                #aboutimage{
                    text-align: center;
                    width: 100%;
                }
                #aboutimage img{
                    width: 350px;
                }
                #map{
                    align-items: center;
                    width: 100%;
                }
                #hidden,#hidden2,#hidden3{
                    width: 80%;
                    padding: 20px 20px 20px 20px;
                }
                #dailymilk,#projection,#yearrevenue{
                    align-items: center;
                    margin-left: 20%;
                }
                input[type=button] {
                    width: 50%;
                    display: block;
                  }
                  html{
                    width:100%;
                    height:100%;
                }
                body{
                    width:100%;
                    height:100%;
                }
          }